@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
.container{
    margin: 0;
    padding: 0;
}
.background_img{
    display: block;
    position: fixed;
    opacity: 0.3;
    margin-right: auto;
    margin-left: auto;
    right: 0%;
    left: 0%;
    z-index: -1;
    top: 0;
    height: 100%;
}
hr{
border: solid 0.05rem black;
}
#db_example{
    color: black;
}
#top, .navbtn{
    font-family: Pangolin, 'sans-serf';
}
#index_text, #final_page_text{
    width: 95%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
ul{
    list-style-type: none;
    text-align: center;
}
li{
    display: inline;
}
.general_text_rule{
    text-align: center;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    color: #d50000;
    font-family: Pangolin, 'sans-serf';
}
#data{
    font-size: 120%;
    text-align: center;
    border: solid 3px #d50000;
    margin: 3rem 6rem;
    font-family: Pangolin, 'sans-serf';
}
#data_info{
    padding: 1rem;
}
#data_btns{
    text-align: center;
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
#add_info_btn{
  bottom: 0;
  right: 0;
  position: fixed;
  margin-bottom: 5rem;
  margin-right: 1rem;
  z-index: 1;
}
#return_top_btn{
    bottom: 0;
  right: 0;
  position: fixed;
  margin-bottom: 1rem;
  margin-right: 1rem;
  z-index: 1;
}
#edit_info_btn, #delete_info_btn{
   margin: 1rem;
   z-index: 1;
}
::placeholder, input, form{
    font-family: Pangolin, sans-serif;
    color: #ff8a80;
    
}
.dropdown-content li>span{
    color: #ff8a80;
}
:hover.navbtn{
    background-color: #ff8a80;
}
#edit_submit{
    font-family: Pangolin, sans-serif;
}
.cat-names{
    font-weight: 700;
}
a:hover {
    color: red;
}