@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.container{
    margin: 0;
    padding: 0;
}
.background_img{
    display: block;
    position: fixed;
    opacity: 0.5;
    margin-right: auto;
    margin-left: auto;
    right: 0%;
    left: 0%;
    z-index: -1;
    top: 0;
    height: 100%;
}
#top{
    font-family: Indie Flower, 'sans-serf'
}
#index_text, #final_page_text{
    width: 95%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
ul{
    list-style-type: none;
    text-align: center;
}
li{
    display: inline;
}
.general_text_rule{
    text-align: center;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    color: #2e7d32;
    font-family: Indie Flower, 'sans-serf'
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
#add_info_btn{
  top: 0;
  right: 0;
  position: fixed;
  margin-top: 30rem;
  margin-right: 1rem
}

#return_top_btn{
    top: 0;
  right: 0;
  position: fixed;
  margin-top: 35rem;
  margin-right: 1rem
}
#edit_info_btn, #data{
    margin-left: 1rem;
}
