{% extends 'base.html'%} {% block content %}
<h2 class="general_text_rule">Add what you have discovererd to the database</h2>
<!--name category-->
<div class="row">
  <form class="col s12" method="POST" action="">
    <div class="row">
      <div class="input-field col s12 red-text text-accent-4">
        <label class="red-text text-accent-4" for="name">First Name:</label>
        <input id="name" name="name" type="text" class="validate" placeholder="T-Rex" required />
      </div>
    </div>
        <!--time period category-->
    <div class="row">
      <div class="input-field col s12">
        <select id="time_period" name="time_period">
          <option value="" disabled selected>Choose your option</option>
          <option value="Triassic">Triassic</option>
          <option value="Jurassic">Jurassic</option>
          <option value="Cretaceous">Cretaceous</option>
        </select>
        <label class="red-text text-accent-4" for="time_period">Time Period:</label>
      </div>
    </div>
    <!--diet category-->
    <div class="row">
      <div class="input-field col s12">
        <label class="red-text text-accent-4" for="diet">Diet:</label>
        <input id="diet" name="diet" type="text" class="validate" placeholder="Carvnivore" required/>
      </div>
    </div>
    <!--speed category-->
    <div class="row">
      <div class="input-field col s12">
        <label class="red-text text-accent-4" for="height">Height:</label>
        <input id="height" name="height" type="text" class="validate" placeholder="3 metres" required/>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <label class="red-text text-accent-4" for="speed">Speed:</label>
        <input id="speed" name="speed" type="text" class="validate" placeholder="30 kph" required/>
      </div>
    </div>
    <!--discovererd in category-->
    <div class="row">
      <div class="input-field col s12">
        <label class="red-text text-accent-4" for="discovered_in">Discovered In:</label>
        <input id="discovered_in" name="discovered_in" type="text" class="validate" placeholder="South Dakota USA" required/>
      </div>
    </div>
    <!--submit button-->
    <button id="add_submit" class="btn #d50000 red accent-4 btn-large" type="submit" name="add_submit">
      Submit
      <i class="material-icons right"></i>
    </button>
  </form>
</div>
{% endblock %}
