<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>
{% block content %}

    {% for info in dinoInfo %}
    <br>
        <strong>Name:{{info.name}}</strong><br>
        Time Period:{{info.time_period}}<br>
        Diet:{{info.diet}}<br>
        Height:{{info.height}}<br>
        Speed:{{info.speed}}<br>
        Discovered in:{{info.discovered_in}}<br>
        <br>
        <a href="{{ url_for('edit_info', info_id=info._id) }}" class="btn-floating btn-large #2e7d32 green darken-3"
      ><i class="material-icons">edit</i></a
    >
    <br>
    {% endfor %}
    
{% endblock %}