<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>Document</title>
   </head>
   <body>
      {% block content %} 
      {% for info in dinoInfo %}
      <!-- database information -->
      <div id="data" class="row">
         <br>
         <div id="data_info" class="col s12 m4 offset-m4">
            <span class="cat-names">Name:</span> {{info.name}}<br>
            <span class="cat-names">Time Period:</span> {{info.time_period}}<br>
            <span class="cat-names">Diet:</span> {{info.diet}}<br>
            <span class="cat-names">Length:</span> {{info.length}}<br>
            <span class="cat-names">Speed:</span> {{info.speed}}<br>
            <span class="cat-names">Discovered in:</span> {{info.discovered_in}}<br>
            <span class="cat-names">Extra Information:</span> {{info.extra_information}}<br>
            <br>
         </div>
         <div id="data_btns" class="col s12 m2">
            <!-- edit existing database information -->
            <a
               href="{{ url_for('edit_info', info_id=info._id) }}"
               id="edit_info_btn"
               class="btn-floating btn-large #d50000 red accent-4 hoverable"
               ><i class="material-icons">edit</i></a
               >
            <br>
            <!-- delete existing database information -->
            <a
               href="{{ url_for('delete_info', info_id=info._id) }}"
               id="delete_info_btn"
               class="btn-floating btn-large #d50000 red accent-4 hoverable"
               ><i class="material-icons">delete</i></a
               >
         </div>
      </div>
      {% endfor %} 
      {% endblock %}
   </body>
</html>