{% extends 'base.html'%} {% block content %}
<h2>Edit a database entry</h2>
<!--name category-->
<div class="row">
  <form class="col s12" method="POST" action="{{ url_for('edit_info', info_id=info._id) }}">
    <div class="row">
      <div class="input-field col s12 green-text text-darken-3">
        <label class="green-text text-darken-3" for="name">First Name:</label>
        <input id="name" name="name" value="{{ info.name }}" type="text" class="validate" required />
      </div>
    </div>
        <!--time period category-->
    <div class="row">
      <div class="input-field col s12">
        <select id="time_period" name="time_period">
          <option value="" disabled selected>Choose your option</option>
          <option value="Triassic">Triassic</option>
          <option value="Jurassic">Jurassic</option>
          <option value="Cretaceous">Cretaceous</option>
        </select>
        <label class="green-text text-darken-3" for="time_period">Time Period:</label>
      </div>
    </div>
    <!--diet category-->
    <div class="row">
      <div class="input-field col s12">
        <label class="green-text text-darken-3" for="diet">Diet:</label>
        <input id="diet" name="diet" value="{{ info.diet }}" type="text" class="validate" required />
      </div>
    </div>
    <!--speed category-->
    <div class="row">
      <div class="input-field col s12">
        <label class="green-text text-darken-3" for="height">Height:</label>
        <input id="height" name="height" value="{{ info.height }}" type="text" class="validate" required />
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <label class="green-text text-darken-3" for="speed">Speed:</label>
        <input id="speed" name="speed" value="{{ info.speed }}" type="text" class="validate" required />
      </div>
    </div>
    <!--discovererd in category-->
    <div class="row">
      <div class="input-field col s12">
        <label class="green-text text-darken-3" for="discovered_in">Discovered In:</label>
        <input id="discovered_in" name="discovered_in" value="{{ info.discovered_in }}" type="text" class="validate" required />
      </div>
    </div>
    <!--submit button-->
    <button id="edit_submit" class="btn #2e7d32 green darken-3 btn-large" type="submit" name="edit_submit">
      Edit
      <i class="material-icons right"></i>
    </button>
  </form>
</div>
{% endblock %}
