{% extends 'base.html' %}
{% block content %}
<div id="final_page_text" class="general_text_rule">
   <h2>Where to visit Dinosaurs</h2>
   <p class="general_text_rule">Dinosuar bones have been found all over the world and there are lots of places you can
      visit their skeletons. Some places have put the skeletons back together, while other have built replicas and
      some have even built animatronics (moving models). Below are some links for places you can visit to see what's
      left of these pre-historic wonders 
   </p>
   <!-- links to help with user research -->
   <a  href="https://www.nhm.ac.uk/discover/dinosaurs.html" target="_blank">The Natural History Museum London</a><br>
   <a href="https://www.dublinzoo.ie/event/dinosaur-exploring-at-dublin-zoo/" target="_blank">Dublin Zoo</a><br>
   <a href="http://www.taytopark.ie/theme-park/dinosaurs-alive-1" target="_blank">Dinosaur Live at Tayto Park</a><br>
   <a href="https://www.thedinosaurmuseum.com/dino-facts" target="_blank">The Dinosaur Museum Dorchester</a><br>
   <a href=""></a><br>
   <h5>Here are some links to help with your research</h5>
   <!-- links for user, suggested places to visit -->
   <a href="https://www.sciencekids.co.nz/sciencefacts/dinosaurs.html" target="_blank">Science For Kids</a><br>
   <a href="https://www.history.com/topics/pre-history/dinosaurs-an-introduction" target="_blank">History.com</a><br>
   <a
      href="https://www.factretriever.com/dinosaur-facts#:~:text=Some%20dinosaurs'%20tails%20were%20over,keep%20their%20balance%20when%20running.&text=Dinosaurs%20were%20reptiles%20that%20lived,about%2065%20million%20years%20ago.&text=The%20earliest%20named%20dinosaur%20found,(%E2%80%9Cdawn%20stealer%E2%80%9D)." target="_blank">Fact
   Retriever</a>
</div>
{% endblock %}