{% extends 'base.html' %}
{% block content %}
<div class="general_text_rule">
 <h2>Where to visit Dinosaurs</h2>
 <p class="general_text_rule">Dinosuar bones have been found all over the world and there are lots of places you can visit their skeletons. Some places have put the skeletons back together, while other have built replicas and some have even built animatronics (moving models). Below are some links for places you can visit to see what's left of these pre-historic wonders  </p>
  <a href="https://www.nhm.ac.uk/discover/dinosaurs.html">The Natural History Museum London</a><br>
  <a href="https://www.dublinzoo.ie/event/dinosaur-exploring-at-dublin-zoo/">Dublin Zoo</a><br>
  <a href="http://www.taytopark.ie/theme-park/dinosaurs-alive-1">Dinosaur Live at Tayto Park</a>
    
    
      </div>
{% endblock %}
